*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
body{
    background: #F0C27B;  /* fallback for old browsers */
background: -webkit-linear-gradient(to right, #4B1248, #F0C27B);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to right, #4B1248, #F0C27B); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */


}

.container{
    height: 100vh;
    width: 100vw;
    overflow-x: none;
}
.navcontainer{
    width: 100vw;
    background-color: #0093E9;
background-image: linear-gradient(160deg, #0093E9 0%, #80D0C7 100%);

    min-height: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}
nav{
    width: 100%;
    overflow-x: none;


}
#navlist{
    width: 100%;
    padding: 20px;
    list-style: none;
    font-size: 2rem;
    display: flex;
    justify-content: space-between;
    
    align-items: center;
    width: 100%;
}
#navlogo{
    font-size: 2rem;
    color: azure;
}
a{
    text-decoration: none;
    color: azure;
}
#navitems{
    display: flex;
    gap: 40px;
    color: azure;
}
.footerbox{
    background-image: linear-gradient(160deg, #0093E9 0%, #80D0C7 100%);
    width: 100%;
    text-align: center;
    min-height: 45px;
}
.contentbox{
    width: 80%;
    margin: auto;
    display: flex;
    flex-direction: column;
    gap: 100px;
    padding: 3rem;
    box-shadow: 0px 0px 30px black;
}
.item{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}
.rightbox img{
    height: 400px;
    border-radius: 20px;
    transition: all 0.6s linear 0s;
    position: relative;
    overflow: hidden;

}
.rightbox:hover{
    transform: scale(1.2);
}

.leftbox{
    display: flex;
    gap: 20px;
    flex-direction: column;
    
    
}
.leftbox h2{
    font-size: 2rem;
}
.ingredients{
    font-size: 1.3rem;
}
.recipebox{
    font-size: 1.1rem;
}
















.footerbox p{

    color: azure;
    font-size: 2rem;

}